[Unit]
Description=HTTP Probe
After=syslog.target network-online.target
Wants=network-online.target

[Service]
Type=simple
PIDFile=/run/http-probe.pid
ExecStart=/root/http-probe/http-probe
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target